<header class="site-header">
        <div class="logo">
          <div class="brand-mark">NG</div>
          <div>
            <div class="site-title">Nikhil Gusain</div>
            <div style="font-size: 13px; color: var(--muted)">
              Django · DevOps · Backend engineering
            </div>
          </div>
        </div>
        <nav class="primary">
           <a class="link" href={% url 'blogPage' %}>Home</a>
          {% comment %}<a class="link" href="/projects">Projects</a>
          <a class="link" href="/contact">Contact</a> {% endcomment %}
          <a class="cta" target="_blank" href="{{ resume }}">Resume</a>
        </nav>
      </header>